.formContact {
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--icon-color);
  box-shadow: inset 0.1px 0.1px 5px;
  background-color: var(--primary-text-color);
  padding: 4.5em;
  min-width: 50%;
  input,
  select,
  textarea,
  label {
    width: 100%;
    padding: 12px 40px;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
  }

  .green-btn {
    margin-right: 0;
  }
  #contactSubject {
  }
}
