.footer {
  background-color: var(--footer-bg-color);
  padding: 1em;
  color: var(--primary-text-color);
  .footer-top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    .footer-top__link-lists {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      ul {
        padding: 0 2.5em;
      }
      li {
        direction: rtl;
        align-self: flex-end;
        text-align: right;
        list-style: none;
        padding: 0.5em 0;
        .hashLink {
          color: var(--primary-text-color);
        }
      }
    }
    .footer-top__logo {
      padding-top: 2em;
    }
  }
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8em;
    .footer-bottom__social-network-links {
      .social-network-link {
        padding-right: 1.5em;
      }
    }
    .footer-bottom__copyrights {
      direction: rtl;
    }
  }
}
