.employeesCard {
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  align-items: center;
  overflow-y: scroll;
  min-height: 15em;
  max-height: 20em;
  width: 15em;
  background-color: var(--primary-bg-color);
  border: 1px solid var(--icon-color);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 1;
  .employeesCard-employee {
    width: 70%;
    text-align: center;
    padding: 0.3em;
    margin: 0.2em;
    float: right;
    border: 1px solid var(--icon-color);
    border-radius: 5px;
    p {
      margin: unset;
    }
    cursor: pointer;
  }
}

.employeesCard-employee:hover {
  background-color: #58b1dd;
}
